<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/88f3d1f48c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <h1>Address Book</h1>
        <input type="text" placeholder="Enter Name" v-model="nameInput">
        <input type="email" placeholder="Enter Address" v-model="addressInput">
        <button v-if="validateInputs()" @click = "submit()">Record Address</button>
        <ul>
            <li v-for="item in addresses">
                <p>{{item.name}}</p>
                <p>{{item.address}}</p>
                <button id="btn" @click="rm(item)"><i style="font-size: 1.4em;" class="fa-solid fa-delete-left"></i></button>
            </li>
        </ul>

    </div>
    <div id="social">
        <ul>
            <li><a href="https://github.com/Moustafa-Bendari"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://github.com/Darokahn"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </div>

</body>
    <script src="app.js"></script>
</html>