<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <h1>Address Book</h1>
        <input type="text" placeholder="Enter Name" v-model="nameInput">
        <input type="email" placeholder="Enter Address" v-model="addressInput">
        <button v-if="validateInputs()" @click="">Record Address</button>
        <ul>
            <li v-for="item in addresses">
                <p>{{item.name}}</p>
                <p>{{item.address}}</p>
                <button @click="delete(item)"></button>
            </li>
        </ul>

    </div>

</body>
    <script src="app.js"></script>
</html>